*{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;

}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;

}

.child{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.child h1{
    font-size: 6vw;
    position: relative;
    z-index: 4;
    mix-blend-mode: difference;
}

.child img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
    /* transform: translate(-50%,-50%); */
}


